﻿<?xml version="1.0" encoding="utf-8"?>
<LinearLayout  xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tfl="http://schemas.android.com/apk/res-auto"
    xmlns:card_view="http://schemas.android.com/apk/lib-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent" >
  <include
       android:id="@+id/toolbar"
       layout="@layout/toolbar" />
  <ScrollView
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/lightgrey">
    <LinearLayout
      android:orientation="vertical"
      android:background="@color/lightgrey"
      android:padding="4dp"
      android:layout_width="match_parent"
      android:layout_height="match_parent">
      <android.support.v7.widget.CardView
                android:id="@+id/accountCardView"
                style="@style/DefaultCardviewStyling">
      <LinearLayout
                     android:id="@+id/view1"
                     style="@style/MainCardVerticalLinearLayoutStyling">
        <tfl.congestioncharge.droid.views.TflTextView
            tfl:fontName="njfont_bookbold"
            android:text="@string/YourVehiclesAndServices"
            style="@style/BlueLargeTextViewStyling" />
        <tfl.congestioncharge.droid.views.TflTextView
            tfl:fontName="njfont_book"
            android:layout_marginBottom="6dp"
            android:layout_marginTop="6dp"
            android:text="@string/AddVehicleToAutoPayDescription"
            style="@style/DefaultNoramlAppTextStyling" />
        <ListView
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_marginTop="6dp"
            android:layout_weight="1"
            android:id="@+id/listExistingVehicles"
            android:dividerHeight="0dp"
            android:divider="@null"
            android:focusable="true"
            android:overScrollMode="always"
            android:scrollbars="vertical"
            android:scrollbarStyle="outsideOverlay"
            android:smoothScrollbar="true"
            android:splitMotionEvents="true"
            android:verticalScrollbarPosition="right" />
        <tfl.congestioncharge.droid.views.TflButton
          tfl:fontName="njfont_book"
          android:id="@+id/addNewVehicleButton"
          style="@style/DefaultButtonStyle"
          android:text="@string/AddNewVehicle" />
      </LinearLayout>
      </android.support.v7.widget.CardView>
    </LinearLayout>
  </ScrollView>
</LinearLayout>