<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tfl="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:focusable="true"
    android:focusableInTouchMode="true"
    android:background="@color/cardviewLightGreyBackground">
  <include
      android:id="@+id/toolbar"
      layout="@layout/toolbar" />
  <LinearLayout
      android:orientation="vertical"
      android:layout_weight="1"
      android:layout_width="fill_parent"
      android:layout_height="fill_parent"
      android:background="@color/cardviewLightGreyBackground"
      android:padding="4dp">
    <android.support.v7.widget.CardView
        android:id="@+id/cardView1"
        style="@style/DefaultCardviewStyling"
        android:background="@color/white"
        tfl:cardBackgroundColor="#ffffffff">
      <LinearLayout
        android:orientation="vertical"
        android:background="@color/lightgrey"
        android:weightSum="1"
        android:layout_width="match_parent"
        android:layout_height="match_parent" >
        <LinearLayout
         android:id="@+id/view2"
         style="@style/LinearLayoutStyling1"
         android:padding="6dp">
          <tfl.congestioncharge.droid.views.TflTextView
              tfl:fontName="njfont_bookbold"
              style="@style/BlueLargeTextViewStyling"
              android:layout_marginLeft="6dp"
              android:layout_marginBottom="6dp"
              android:layout_marginTop="8dp"
              android:text="@string/SelectYourStoredCard"
              android:id="@+id/txtSelectCard" />
          <ListView
              android:layout_width="match_parent"
              android:layout_height="0dp"
              android:layout_weight="1"
              android:id="@+id/listCards"
              android:divider="@null"
              android:dividerHeight="0dp"
              android:focusable="true"
              android:overScrollMode="always"
              android:scrollbars="vertical"
              android:scrollbarStyle="outsideOverlay"
              android:smoothScrollbar="true"
              android:splitMotionEvents="true"
              android:verticalScrollbarPosition="right"
              android:visibility="visible" />
        </LinearLayout>
      </LinearLayout>
    </android.support.v7.widget.CardView>
  </LinearLayout>
  <tfl.congestioncharge.droid.views.TflButton
      tfl:fontName="njfont_book"
      android:text="@string/AddAnotherCard"
      style="@style/DefaultButtonWithMarginStyle"
      android:id="@+id/selectAnotherCardButton" />
</LinearLayout>