<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tfl="http://schemas.android.com/apk/res-auto"
    xmlns:card_view="http://schemas.android.com/apk/lib-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <android.support.v7.widget.CardView
        style="@style/DefaultCardviewStyling">
        <LinearLayout
            android:orientation="horizontal"
            android:id="@+id/outerLayout"
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <LinearLayout
                android:orientation="vertical"
                android:id="@+id/innerLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:padding="6dp">
                <LinearLayout
                    android:orientation="horizontal"
                    android:id="@+id/innerHorizontalLayout1"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center_vertical"
                    android:weightSum="1"
                    android:gravity="center_vertical">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:id="@+id/innerHorizontalImage"
                        android:layout_width="0dp"
                        android:layout_height="wrap_content"
                        android:gravity="center_vertical"
                        android:layout_gravity="center_vertical"
                        android:layout_weight="1">
                        <ImageView
                            android:id="@+id/paymentsCardImage"
                            android:layout_width="48dp"
                            android:layout_height="match_parent" />
                        <tfl.congestioncharge.droid.views.TflTextView
                            tfl:fontName="njfont_bookbold"
                            android:id="@+id/cardNameText"
                            android:text="@string/CreditCards"
                            android:textSize="16sp"
                            style="@style/BlueNormalTextViewStyling"
                            android:gravity="center_vertical"
                            android:layout_marginLeft="8dp"
                            android:layout_gravity="center_vertical" />
                    </LinearLayout>
                </LinearLayout>
                <RelativeLayout
                    android:orientation="horizontal"
                    android:id="@+id/innerLayoutNumber"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="6dp"
                    android:weightSum="1"
                    android:layout_gravity="center_vertical">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:id="@+id/innerHorizontalLayout2"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:weightSum="1"
                        android:layout_alignParentLeft="true">
                        <tfl.congestioncharge.droid.views.TflTextView
                            tfl:fontName="njfont_bookbold"
                            android:text="NUMBER:"
                            style="@style/SmallTextStyle"
                            android:textSize="12sp"
                            android:layout_width="65dp"
                            android:layout_height="match_parent" />
                        <tfl.congestioncharge.droid.views.TflTextView
                            tfl:fontName="njfont_book"
                            android:layout_marginLeft="5dp"
                            android:id="@+id/cardEndingInText"
                            android:textSize="12sp"
                            style="@style/SmallTextStyle"
                            android:layout_weight="1"
                            android:layout_width="0dp" />
                    </LinearLayout>
                    <LinearLayout
                        android:orientation="horizontal"
                        android:id="@+id/innerHorizontalLayout3"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:weightSum="1"
                        android:layout_below="@+id/innerHorizontalLayout2"
                        android:layout_marginTop="2dp">
                        <tfl.congestioncharge.droid.views.TflTextView
                            tfl:fontName="njfont_bookbold"
                            android:text="EXPIRY:"
                            android:textSize="12sp"
                            style="@style/SmallTextStyle"
                            android:layout_width="65dp" />
                        <tfl.congestioncharge.droid.views.TflTextView
                            tfl:fontName="njfont_book"
                            android:id="@+id/cardExpiresInText"
                            android:textSize="12sp"
                            style="@style/SmallTextStyle"
                            android:layout_marginLeft="5dp"
                            android:layout_width="0dp"
                            android:layout_weight="1" />
                    </LinearLayout>
                </RelativeLayout>
            </LinearLayout>
        </LinearLayout>
    </android.support.v7.widget.CardView>
</LinearLayout>